<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Argus.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Argus.My.MySettings>
            <setting name="FavColor" serializeAs="String">
                <value>Crimson</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>Panoptes</value>
            </setting>
            <setting name="WindowsTheme" serializeAs="String">
                <value>Argus Purple Dark</value>
            </setting>
            <setting name="WebSearchProvider" serializeAs="String">
                <value>Duck</value>
            </setting>
            <setting name="ArgusDir" serializeAs="String">
                <value>\Argus</value>
            </setting>
            <setting name="UserImageDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ThemeUniversal" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="AppLocalRunPref" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LauncherPos" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="LauncherLastPos" serializeAs="String">
                <value>25, 25</value>
            </setting>
            <setting name="AutohideUsermenu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PersistCollections" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PersistSocial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PersistToolbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugFeatures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CollectionsPos" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="CollectionsLastPos" serializeAs="String">
                <value>25, 25</value>
            </setting>
            <setting name="LauncherAoT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GameLib" serializeAs="String">
                <value>\Software\Gaming\Library</value>
            </setting>
        </Argus.My.MySettings>
    </userSettings>
</configuration>
