<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Argus.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Argus.My.MySettings>
            <setting name="FavColor" serializeAs="String">
                <value>Crimson</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>Panoptes</value>
            </setting>
            <setting name="WindowsTheme" serializeAs="String">
                <value>Argus Purple Dark</value>
            </setting>
            <setting name="WebSearchProvider" serializeAs="String">
                <value>Duck</value>
            </setting>
            <setting name="ArgusDir" serializeAs="String">
                <value>\Argus</value>
            </setting>
            <setting name="UserImageDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="ThemeUniversal" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="AppLocalRunPref" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LauncherPos" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="LauncherLastPos" serializeAs="String">
                <value>25, 25</value>
            </setting>
            <setting name="AutohideOpMenu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PersistCollections" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PersistSocial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PersistToolbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugFeatures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CollectionsPos" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="CollectionsLastPos" serializeAs="String">
                <value>25, 25</value>
            </setting>
            <setting name="LauncherAoT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GameLib" serializeAs="String">
                <value>\Software\Game\Library</value>
            </setting>
            <setting name="Blur" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PersistSearch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FocusSearch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartupFocus" serializeAs="String">
                <value>Search</value>
            </setting>
            <setting name="AutohideSearch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PersistWallet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PersistHome" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ding" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Focus" serializeAs="String">
                <value/>
            </setting>
            <setting name="Collection1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Collection2" serializeAs="String">
                <value/>
            </setting>
            <setting name="Collection3" serializeAs="String">
                <value/>
            </setting>
            <setting name="Collection4" serializeAs="String">
                <value/>
            </setting>
            <setting name="Collection5" serializeAs="String">
                <value/>
            </setting>
            <setting name="Collection6" serializeAs="String">
                <value/>
            </setting>
            <setting name="Collection7" serializeAs="String">
                <value/>
            </setting>
            <setting name="Collection8" serializeAs="String">
                <value/>
            </setting>
            <setting name="Collection9" serializeAs="String">
                <value/>
            </setting>
            <setting name="Homepage" serializeAs="String">
                <value>https://home.panoptes.live</value>
            </setting>
            <setting name="ArgusMood" serializeAs="String">
                <value>Happy</value>
            </setting>
            <setting name="BrowserDir" serializeAs="String">
                <value>C:\Users\argus\AppData\Local\Vivaldi\Application\vivaldi.exe</value>
            </setting>
        </Argus.My.MySettings>
    </userSettings>
</configuration>
